grpcio
grpcio-tools
protobuf
pyyaml
docker
grpcio-health-checking
python-dotenv
GitPython
langchain
langchain-core
langchain-experimental
langchain-community
langchain-openai
pika
meson
pandas
openpyxl
unidiff